h1 {
    font-size:45px;
    color: rgb(172, 77, 9);
    text-align: center;
}

.accordion {
    display: flex;
    flex-direction: column;
    margin: 20px;
    width:fit-content;
}
  
.question {
    background: linear-gradient(#FFF8E1 ,#fffdf5);
    padding: 10px;
    cursor: pointer;
    border: 1px solid #ddd;
    text-align: left;
    font-weight: bold;
    margin-bottom: 5px; /* Adjust the margin as needed */
    transition: margin 0.3s ease; /* Smooth margin transition */
    border-radius: 10px;
    font-size: 20px;
}
  
.shownAnswer {
    max-height: 100px;
    overflow: hidden;
    transition: max-height 0.3s ease, padding 0.3s ease; /* Smooth transitions for height and padding */
    padding: 10px;
    border-top: 1px solid #ddd;
    margin-bottom: 5px; /* Adjust the margin as needed */
}

.hiddenAnswer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, padding 0.3s ease; /* Smooth transitions for height and padding */
    padding: 0;
    border-top: 0;
    margin-bottom: 0; /* Adjust the margin as needed */
}

p {
    text-align: center;
    font-size: 30px;

}