<h1 mat-dialog-title>{{ data.title }}</h1>
<div mat-dialog-content>
  <label>Nowe hasło</label>
  <input type="password" name="password" id="password" [(ngModel)]="password" (input)="updateWarning()">
  <label>Powtórz Nowe Hasło</label>
  <input type="password" name="password_repeated" id="password-repeat" [(ngModel)]="password_repeated" (input)="updateWarning()">
  <p class="password-warning">{{warning}}</p>
</div>
<div mat-dialog-actions align="center">
  <button mat-button (click)="onNoClick()">Anuluj</button>
  <button mat-button color="primary" (click)="onYesClick()">Potwierdź</button>
</div>
