<body>
    <div *ngIf="!zmieniono" class="main-part">
        <label>Nowe hasło</label>
        <br>
        <input type="password" name="password" id="password" [(ngModel)]="password" (input)="updateWarning()">
        <br>
        <label>Powtórz Nowe Hasło</label>
        <br>
        <input type="password" name="password_repeated" id="password-repeat" [(ngModel)]="password_repeated" (input)="updateWarning()">
        <br>
        <p class="password-warning">{{warning}}</p>
        <button mat-button (click)="onYesClick()">Zmień hasło</button>
    </div>
    <div *ngIf="zmieniono" class="main-part">
        <h2>
            <p class="zmieniono">Hasło zostało zmienione.</p>
        </h2>
    </div>
    
</body>
