<body>
    <h1>Kim jesteśmy?</h1>
    <div>
        <img src="assets/smiling-students.jpg" alt="Uśmiechnięci studenci">
        <p>
            Witaj na naszej platformie! Jesteśmy grupą zaangażowanych studentów informatyki stosowanej na Politechnice Wrocławskiej, którzy wspólnie pracują nad projektem strony internetowej, mającej na celu ułatwienie dostępu do informacji o eventach zarówno w Twojej okolicy, jak i w całej Polsce.
        </p>
    </div>
    <h1>Nasza misja</h1>
    <div>
        <img src="assets/concert.jpeg" alt="Koncert">
        <p>
            Naszym głównym celem jest stworzenie centralnego miejsca, gdzie zwykli ludzie mogą łatwo znaleźć informacje o różnorodnych wydarzeniach, takich jak festiwale, koncerty, imprezy i wiele innych, zarówno tych lokalnych, jak i tych odleglejszych, które jednak mogą zainteresować naszych użytkowników.
        </p>
    </div>
    <h1>Pasja i Zaangażowanie</h1>
    <div>
        <img src="assets/technology.jpg" alt="Technologia">
        <p>
            Nasza pasja do technologii łączy się z pragnieniem ułatwienia ludziom odkrywania fascynujących wydarzeń w ich otoczeniu. Poprzez innowacyjne rozwiązania informatyczne, dążymy do stworzenia intuicyjnej i dostępnej platformy, która ułatwi planowanie czasu wolnego i odkrywanie nowych pasji.
        </p>
    
    </div>
</body>